.div.m-4
  .page.header
    %p{:style => "color: green"}= notice
    %h1.mb-4
      = t('application.list_of', model: t('activerecord.modules.order.other'))
    .float-down  
      = link_to t('application.new', model: t('activerecord.modules.order.one')), new_order_detail_path, class: "button1 button2"

  %div
    %table.table.table-striped
      %thread
        %tr
          %th= t('activerecord.attributes.order_detail.order_date')
          %th= t('activerecord.modules.dish.one')
          %th= t('activerecord.attributes.dish.description')
          %th= t('activerecord.attributes.dish.cost')
          %th= t('activerecord.modules.state.one')
          %th
          %th
          %th
          %th
      %tbody
        - @order_details.each do |order_detail|
          %tr
            %td= order_detail.order_date 
            %td= order_detail.dish.name 
            %td= order_detail.dish.description 
            %td= order_detail.dish.cost 
            %td= t("activerecord.attributes.order_detail.states.#{order_detail.state}")
            %td
              = link_to  order_detail_path(order_detail) do
                %span{:title => t('application.show')}

                  
            %td
              = link_to edit_order_detail_path(order_detail) do
                %span{:title => t('application.edit')}
                  %i.fa-green.fa-regular.fa-pen-to-square        

            %td 
              = link_to order_detail, method: :delete do
                %span{:title => t('application.delete')}
                  %i.fa-red.fa-solid.fa-trash
